@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  font-family: "Pacifico", cursive;
  margin: 0;
  font-size: 20px;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app #background {
  -webkit-animation-name: background;
          animation-name: background;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../image/194006.jpg");
  background-position: center;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#app #main {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  width: 900px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#app #main #form input {
  display: block;
  height: 40px;
  width: 400px;
  margin: auto;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  color: white;
  font-size: 16px;
}

#app #main #form input::-webkit-input-placeholder {
  color: white;
}

#app #main #form input:-ms-input-placeholder {
  color: white;
}

#app #main #form input::-ms-input-placeholder {
  color: white;
}

#app #main #form input::placeholder {
  color: white;
}

#app #main #form button {
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #fff;
}

#app #main #form button span {
  display: block;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
}

#app #result {
  width: 600px;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background-color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

#app #result > div {
  position: relative;
  padding: 50px 20px;
}

#app #result > div b {
  color: #03da55;
  letter-spacing: 1px;
}

#app #result > div > span {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  color: red;
  border-radius: 50%;
}

#app #result > div > span:hover {
  cursor: pointer;
}

#app #result h2 {
  color: #c4c97c;
}

#app #result #result-detail {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
}

#app #result #result-detail span {
  border: 1px solid #fff;
  padding: 5px;
}

@-webkit-keyframes background {
  0% {
    background-position: center;
    background-size: 100%;
  }
  20% {
    background-position: top left;
    background-size: 115%;
  }
  40% {
    background-position: top right;
    background-size: 130%;
  }
  60% {
    background-position: bottom right;
    background-size: 130%;
  }
  80% {
    background-position: bottom left;
    background-size: 115%;
  }
  100% {
    background-position: center;
    background-size: 100%;
  }
}

@keyframes background {
  0% {
    background-position: center;
    background-size: 100%;
  }
  20% {
    background-position: top left;
    background-size: 115%;
  }
  40% {
    background-position: top right;
    background-size: 130%;
  }
  60% {
    background-position: bottom right;
    background-size: 130%;
  }
  80% {
    background-position: bottom left;
    background-size: 115%;
  }
  100% {
    background-position: center;
    background-size: 100%;
  }
}

@media only screen and (max-width: 720px) {
  #main {
    width: 100vw !important;
  }
  #main #title {
    padding: 20px;
  }
  #main #title input {
    width: 100% !important;
  }
  #main h1 {
    font-size: 30px;
  }
  #app #result {
    width: 100vw !important;
  }
  #app #result #result-detail {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}
/*# sourceMappingURL=style.css.map */